name: Deployment
on:
  push:
    branches:
      - main
      - dev
jobs:
  test:
    environment: testing
    env:
      MONGO_CLUSTER_ADDRESS: ${{ secrets.MONGO_CLUSTER_ADDRESS }}
      MONGO_DB_NAME: ${{ secrets.MONGO_DB_NAME }}
      MONGO_DB_USER: ${{ secrets.MONGO_DB_USER }}
      MONGO_DB_PASSWORD: ${{ secrets.MONGO_DB_PASSWORD }}
      PORT: ${{ secrets.PORT }}
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: npm-deps-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm ci
      - name: Run server
        run: npm start & npx wait-on http://127.0.0.1:${{ secrets.PORT }}
      - name: Run tests
        run: npm test
      - name: Output information
        run: echo "..."
  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Output information
        run: |        
          echo "MONGO_CLUSTER_ADDRESS: ${{ secrets.MONGO_CLUSTER_ADDRESS }}"
          echo "MONGO_DB_NAME: ${{ secrets.MONGO_DB_NAME }}"
          echo "MONGO_DB_USER: ${{ secrets.MONGO_DB_USER }}"
          echo "MONGO_DB_PASSWORD: ${{ secrets.MONGO_DB_PASSWORD }}"
          echo "PORT: ${{ secrets.PORT }}"
